@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato|Open+Sans|Pacifico|Roboto|Source+Sans+Pro|Varela+Round');
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Courgette', cursive;

*/

/*
  blue: #0acffe;
*/



body {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif;
}
.carousel-item {
  /* height: 65vh; */
  min-height: 450px;
  background: no-repeat center center scroll;
  background-position-y: 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.special {
  color: #0acffe !important;
}
.navbar-brand {
  color: #000 !important;
}
a.navbar-brand:hover {
  color: #000 !important;
}
a.navbar-brand:focus {
  color: #000 !important;
}
.nav-link, .navbar .dropdown-menu a{
  color: rgba(0,0,0,.5) !important;
}
.navbar .dropdown-menu a:hover {
  background-color: #0acffe !important;
}
.special a:nth-child(3):hover {
  background-color: #f00 !important;
}
footer {
  min-height: 200px;
  padding: 5px;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5em;
}
.mycard {
  height: 200px;
  /* background-color: #f6f6f6; */
  background-image: linear-gradient(to left, #f2f2f2 0%, #f8f8f8 100%);
  border-radius: 6px;
  -webkit-box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  border-top: 6px solid #0acffe;
}

.mycard>p {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  /* text-shadow: 2px 3px 9px rgba(150, 150, 150, 0.7); */
  color: #444;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc, 1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc, 3px 4px 1px #eee, 5px 4px 1px #ccc, 4px 5px 1px #eee, 6px 5px 1px #ccc, 5px 6px 1px #eee, 7px 6px 1px #ccc;
}


/*  Ripple Effect */
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.ripple:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 12.05%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.ripple:active:after {
  transform: scale(0, 0);
  opacity: .3;
  transition: 0s;
}
